.scroller {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

/* Show div on screens wider than 600px */
@media (min-width: 992) {
  .bio-profile {
    display: block;
  }
}

/* Hide div on screens smaller than 600px */
@media (max-width: 991px) {
  .bio-profile {
    display: none;
  }
}

.bio-profile::before {
  border-radius: 10px;
}

.soundcloud-embed {
    border-radius: 10px;
}
